In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):
    print (i)

0
1
2
3
4

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [9]:
str="Jamadagni Kotamsetty"

for i in str:
    print(i)

J
a
m
a
d
a
g
n
i

K
o
t
a
m
s
e
t
t
y

In [11]:
##While loop
#Loop continues to execute as long as the condition is true
count =0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [12]:
#Loop control statements
#break - The break statement exits the loop prematurely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [13]:
#continue
#The continue statement skips the current iteration and continues to the next

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [15]:
##Pass
#The pass statement is a null operation and it does nothing

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [16]:
## Nested Loops
# A loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [17]:
##Examples - Calculate the sum of first N natural numbers using a while and for loop

#Using While loop
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
    
print("Sum of first 10 natural numbers :", sum)

Sum of first 10 natural numbers : 55

In [20]:
n=10
sum=0
for i in range(1,n+1):
    sum=sum+i

print(sum)

55

In [24]:
## Example - prime number between 1 and 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97