In [2]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst =list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [5]:
type(numbers)

tuple

In [6]:
mixed_tuple =(1, "Hello World", 3.14, True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Hello World', 3.14, True)
<class 'tuple'>

In [7]:
numbers

(1, 2, 3, 4, 5)

In [8]:
## Accessing Tuple Elements
print(numbers[0])
print(numbers[2])

1
3

In [9]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [10]:
numbers[::2]

(1, 3, 5)

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
#Tuple Operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [13]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [14]:
## Immutable Nature of Tuples
lst = [1,2,3,4,5]
print(lst)

lst[1]="Agni"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Agni', 3, 4, 5]

In [19]:
numbers[1]="Agni"

TypeError: 'tuple' object does not support item assignment

In [21]:
numbers

(1, 2, 3, 4, 5)

In [22]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [23]:
# Packing and Unpacking Tuples
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [ ]:
#Unpacking a Tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [ ]:
##Unpacking with * start to before the last element is picked
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested list
lst =[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
## Accessing the elements inide a tuple
lst[0][0:3]

[1, 2, 3]

In [33]:
## Nested Tuple
Nested_tuple =((1,2,3),("a","b","c"),(True,False))
## Access the elements inside a tuple
print(Nested_tuple[0])
print(Nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## Iterating over nested tuples
for sub_tuple in Nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False