In [39]:
#create a set
my_set={1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [4]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_empty_set=set({1,2,3,4,5})
print(type(my_empty_set))
print(my_empty_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [10]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)#Does not print duplicate elements

{1, 2, 3, 4, 5, 6}

In [14]:
##Basic Set operations
#Adding and removing elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [15]:
#Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [16]:
my_set.remove(10)

KeyError: 10

In [18]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
#pop method in sets is first in first out
removed_element=my_set.pop()
print(removed_element)
print(my_set)

2
{4, 5, 6, 7}

In [21]:
#clear all the elements
my_set.clear()
print(my_set)

set()

In [22]:
##Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [26]:
##Mathematical Operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union which combines 2 sets
union_set = set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [27]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Diffrence
print(set1.difference(set2))

{1, 2, 3}

In [28]:
set1

{1, 2, 3, 4, 5, 6}

In [29]:
print(set1.difference_update(set2))

None

In [30]:
set2.difference(set1)

{4, 5, 6, 7, 8, 9}

In [ ]:
## Symmetric Difference common elements are removed and only the remaining elements in the 2 sets are displayed
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [35]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [36]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [38]:
## Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## Covert list of words to set to get uniques words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'In', 'about', 'tutorial', 'discussing', 'sets', 'we', 'this', 'are'}
8